name: Build-Push CI for GHCR
on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - name: login to docker hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_PAT }}
      
      - name: Set image tag
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "TAG=pr-${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          else
            echo "TAG=latest" >> $GITHUB_ENV
          fi

      - name: Build and push
        run : |
          docker build . --tag ghcr.io/edracoon/portfolio-front:${TAG}
          docker push ghcr.io/edracoon/portfolio-front:${TAG}

